*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
apps/application/logs/*
apps/application/config/config.json
!application/logs/index.html
!application/logs/.htaccess
/vendor/

crawler/env/*
crawler/.env/*
crawler/venv/*
crawler/config.json

scraper/env/*
scraper/.env/*
scraper/venv/*
scraper/debug/*
scraper/config.json
scraper/debug.log
scraper/geckodriver.log

playground/*

__pycache__
scraper/debug.py
scraper/geckodriver.log
.vscode
